@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Poppins:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*hover effect*/
nav{
	position: fixed;
	top:0px;
	left: 0;
	width: 100%;
	padding: 1.3rem 10%;
	background: #991c1f;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100; 
	text-transform: uppercase;
}
.navbar ul li{
	padding: 15px 24px;
	list-style: none;
	text-decoration: none;
	display: inline-block;
	position: relative;
}
.navbar ul li a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 16px;
	font-family: "Poppins";
	transition-delay: calc(.15s *var(--i));
}
.navbar ul li::after{
	content: "";
	height: 2px;
	width: 0;
	background-color: #efe7e4;
	position: absolute;
	left: 0;
	bottom: 4px;
}
.navbar ul li:hover::after {
	content: "";
	height: 2px;
	width: 100%;
	position: absolute;
	background-color: #e1a426;
	transition: 0.1s;
	left: 0;
	bottom: 4px;
}
.active {
	font-weight: bold;
	color: #e1a426;
	bottom:4px;
}
#check{
	display: none;
}
.icons{
	font-size: 45px;
	right: 5%;
	position: absolute;
	color:#ffffff;
	cursor: pointer;
	display: none;
}


/*Mobile*/
@media only screen and (max-width: 768px){
	.icons{
		display:inline-flex;
	}
	#check:checked~.icons #showMenu{
		display: none;
	}
	.icons #hideMenu{
		 display: none;
	}
	#check:checked~.icons #hideMenu{
		display: block;
	}
	.navbar{
		position: absolute;
		top:100%;
		left:0;
		width: 100%;
		height: 0px;
		background:  #991c1f;
		transition: .4s ease;
		overflow: hidden;
	}
	#check:checked~.navbar{
		height: 25.9rem;
	}
	.navbar ul li{
		display: block;
		font-size:16px;
		text-align: center;
		margin: 25px 0;
		text-transform: uppercase;
	}
	.navbar ul li:hover::after{
		display: none;
	}
}

/*The hero image*/
.hero {
	height: 800px;
	width: 100%;
	background-image:url("Images/hero.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.hero-text{
	padding: 125px 125px 40px 160px;
}
.hero h1 {
	color: #f7cd77;
	font-size: 150px;
    font-family: "Zhi Mang Xing", cursive;
	font-weight: bold;
	margin-top: 100px;
	padding:0px 0px 0px 0px;
}
.hero p {
	color: #ffffff;
	font-size: 15px;
	line-height: 25px;
	font-family: "Poppins", sans-serif;
	padding: 26px 100px 0px 20px;
	margin-left: 10px;
	margin-right: 150px;
}
.links {
	padding: 0px 160px;
}
.links a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
}
.btn {
	margin-left: 15px;
	border: 2px solid;
	padding: 10px 35px;
	border-radius: 30px;
}
.btn:hover {
	color: #f7cd77;
}



/* Mobile */
@media only screen and (max-width: 768px){
	.hero{
		height: 700px;
		
	}
	.hero-text{
		padding: 60px;
		
	}
	.hero h1 {
		font-size: 50px;
		margin-bottom: 30px;
	}
	.hero p{
		padding: 12px 5px 0px 10px;
		font-size: 12px;
		margin-right: 0px;
	}
	.links {
	padding: 0px 60px;
		
}
	.btn{
		margin-left: 0px;
		border: 2px solid;
		padding: 10px 35px;
		border-radius: 30px;
		margin-top:0px;
	}
}

/*Process Timeline*/
.process-timeline{
	margin:8rem auto;
	max-width:34.15rem;
}
.checkpoint{
	max-width: 34em;
	padding-top:2em;
	padding-bottom:2em;
	position: relative;
}
.checkpoint div{
	border: 3px solid;
	color:#991c1f;
	border-radius:1rem;
	padding:2.5em;
}
.checkpoint h1{
	margin-bottom: 20px;
	font-family: "Poppins", sans-serif;
	color: #e1a426;
}
.checkpoint p{
	line-height: 27px;
	color:#000000;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
}
.checkpoint:nth-child(odd){
	border-left:4px solid;
	padding-left: 3em;
	color:#991c1f;
	transform: translateX(17.04rem);
}
.checkpoint:nth-child(even){
	border-right:4px solid;
	color:#991c1f;
	padding-right:3rem;
	transform: translateX(-16.7rem);
}
.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before{
	content:'';
	background:#888;
	width:3rem;
	height: 3px;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}
.checkpoint:nth-child(odd)::before{
	left:0px;
}
.checkpoint:nth-child(even)::before{
	right:0px;
}
.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before{
	content: '';
	background:#000000;
	box-shadow: 0 0 0.5rem #000000;
	width:0.8rem;
	height:0.8rem;
	position: absolute;
	top:50%;
	transform:translateY(-50%);
	border-radius: 50%;
}
.checkpoint:nth-child(odd) div::before{
	left:-0.5rem;
}
.checkpoint:nth-child(even) div::before{
	right:-0.5rem;
}

/* Mobile */
@media only screen and (max-width: 768px){
	.process-timeline{
		width:80vw;
	}
	.process-timeline .checkpoint{
		width:100%;
		transform: none;
		padding-left: 0;
		padding-right: 0;
		border: none;
	}
	.process-timeline .checkpoint::before{
		width:3px;
		height: 4rem;
		top:-2rem;
		left: 50%;
		transform: translateX(-50%);
	}
	.process-timeline .checkpoint div::before{
		top:-0.5rem;
		left:50%;
		transform: translateX(-50%);
	}
}


/*Recommendations*/
.recommendations h1{
	text-align: center;
	font-family: "Zhi Mang Xing", cursive;
	font-size: 60px;
	color:#000;
	margin-bottom: 8px;
}
.recommendations h3{
	text-align: center;
	font-size: 20px;
	color:#000;
	font-family: "Poppins", sans-serif;
	margin-top: 1px;
	margin-bottom: 25px;
}



/*video*/
.video{
	display: flex;
	flex-direction: row;
	align-items: center;
  	justify-content: center;
	width: 100%;
	gap: 15px;
	flex-wrap: wrap;
}

iframe{
	width:400px;
	height: 225px;
	padding: 10px;
	margin-bottom: 50px;
}

footer {
	background-color: darkred;
	
}

footer .logo {
	margin: 0rem 2.10rem;
	margin-top: 2rem;
	left: 5%;
	z-index: 10;
	position: relative;
}

.footer-flex {
	padding: 1rem;
	padding-left: 8%;
	padding-right: 8%;
	display: flex;
	flex-direction: row;
	gap: 3rem;
	color: white;
	font-family: "Poppins";
}

.footer {
	width: 33%;
}

footer h3 {
	text-decoration: none;
	margin-bottom: 12px;
}
.footer p{
	font-size:12px;
	margin-bottom: 16px;
}

@media only screen and (max-width: 768px) {
	.footer-flex {
		flex-direction: column;
	}

	.footer {
		width: 100%;
	}
}

.socials {
	display: flex;
	flex-direction: row;
	gap: 5px;
	padding: 5px;
}

.socials div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: grey;
	width: 30px;
	height: 30px;
	border-radius: 5px;
}

.quick-links ul {
	list-style-type: none;
	cursor: pointer;
	font-size:14px;
}
.quick-links ul a{
	text-decoration: none;
	color:#fff;
}
.quick-links ul a:visited{
	color:#f7cd77;
}

.quick-links li {
	padding-top: 8px;
}

.contact-us-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.contact-us-item {
	display: flex;
	flex-direction: row;
	margin-top:15px;
	margin-bottom:8px;
	font-size:12px;
}
.contact-us-item i{
	margin-right: 15px;
	margin-top:2px;
	font-size:20px;
}