@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Poppins:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*hover effect*/
nav{
	position: fixed;
	top:0px;
	left: 0;
	width: 100%;
	padding: 1.3rem 10%;
	background: #991c1f;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100; 
	text-transform: uppercase;
}
.navbar ul li{
	padding: 15px 24px;
	list-style: none;
	text-decoration: none;
	display: inline-block;
	position: relative;
}
.navbar ul li a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 16px;
	font-family: "Poppins";
	transition-delay: calc(.15s *var(--i));
}
.navbar ul li::after{
	content: "";
	height: 2px;
	width: 0;
	background-color: #efe7e4;
	position: absolute;
	left: 0;
	bottom: 4px;
}
.navbar ul li:hover::after {
	content: "";
	height: 2px;
	width: 100%;
	position: absolute;
	background-color: #e1a426;
	transition: 0.1s;
	left: 0;
	bottom: 4px;
}
.active {
	font-weight: bold;
	color: #e1a426;
	bottom:4px;
}
#check{
	display: none;
}
.icons{
	font-size: 45px;
	right: 5%;
	position: absolute;
	color:#ffffff;
	cursor: pointer;
	display: none;
}


/*Mobile*/
@media only screen and (max-width: 768px){
	.icons{
		display:inline-flex;
	}
	#check:checked~.icons #showMenu{
		display: none;
	}
	.icons #hideMenu{
		 display: none;
	}
	#check:checked~.icons #hideMenu{
		display: block;
	}
	.navbar{
		position: absolute;
		top:100%;
		left:0;
		width: 100%;
		height: 0px;
		background:  #991c1f;
		transition: .4s ease;
		overflow: hidden;
	}
	#check:checked~.navbar{
		height: 25.9rem;
	}
	.navbar ul li{
		display: block;
		font-size:16px;
		text-align: center;
		margin: 25px 0;
		text-transform: uppercase;
	}
	.navbar ul li:hover::after{
		display: none;
	}
}




/*The hero image*/
.hero {
	height: 700px;
	width: 100%;
	background-image:url("Images/artistbanner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/*malaysia artist*/
.myartist{
	text-align: center;
	margin-top:10%;
}
.myartist h1{
	font-family: "Zhi Mang Xing", cursive;
	font-size: 55px;
}
.myartist p{
	font-family: "Poppins", sans-serif;
	line-height: 50px;
	font-size: 20px;
}

/*eten*/
.container{
	width:1000px;
	height: 600px;
	background-color:#f7cd77;
	padding:4rem 5rem;
	position: relative;
	margin-left:210px; 
	margin-top:5%;
}
.textbox{
	width: 45%;
	font-family: "Poppins", sans-serif;
}
.textbox h1{
	margin-bottom: 1.5rem;
	margin-top:30px;
}
.textbox p{
	margin-bottom: 1.3rem;
	font-size:14px;
}
.container img{
	position: absolute;
	top:16%;
	right:-15%;
	width:620px;
	box-shadow: 5px 4px 10px rgba(37,37,37,0.5);
}
.container img:hover{
	cursor: pointer;
	transform: scale(1.2);
}

/*foong yeng yeng*/
.container2{
	width:1000px;
	height: 600px;
	background-color:#f7cd77;
	position: relative;
	margin-left:355px; 
	margin-top:5%;
	margin-right: 0px;
}
.yeng{
	width: 45%;
	font-family: "Poppins", sans-serif;
	padding:50px;
	margin-left: 500px;
	
}
.yeng h1{
	margin-bottom: 1.5rem;
	margin-top:30px;
}
.yeng p{
	margin-bottom: 1.3rem;
	font-size:14px;
}
.container2 img{
	position: absolute;
	top:16%;
	right:52%;
	width:620px;
	box-shadow: 5px 4px 10px rgba(37,37,37,0.5);
}
.container2 img:hover{
	cursor: pointer;
	transform: scale(1.2);
}

/*Ray*/
.container3{
	width:1000px;
	height: 600px;
	background-color:#f7cd77;
	padding:4rem 5rem;
	position: relative;
	margin-left:210px; 
	margin-top:5%;
}
.ray{
	width: 45%;
	font-family: "Poppins", sans-serif;
}
.ray h1{
	margin-bottom: 1.5rem;
	margin-top:30px;
}
.ray p{
	margin-bottom: 1.3rem;
	font-size:14px;
}
.container3 img{
	position: absolute;
	top:16%;
	right:-15%;
	width:620px;
	box-shadow: 5px 4px 10px rgba(37,37,37,0.5);
}
.container3 img:hover{
	cursor: pointer;
	transform: scale(1.2);
}


/*gao*/
.container4{
	width:1000px;
	height: 600px;
	background-color:#f7cd77;
	position: relative;
	margin-left:355px; 
	margin-top:5%;
	margin-right: 0px;
}
.gao{
	width: 45%;
	font-family: "Poppins", sans-serif;
	padding:50px;
	margin-left: 500px;
}
.gao h1{
	margin-bottom: 1.5rem;
	margin-top:30px;
}
.gao p{
	margin-bottom: 1.3rem;
	font-size:14px;
}
.container4 img{
	position: absolute;
	top:16%;
	right:52%;
	width:620px;
	box-shadow: 5px 4px 10px rgba(37,37,37,0.5);
}
.container4 img:hover{
	cursor: pointer;
	transform: scale(1.2);
}


/* Mobile */
@media only screen and (max-width: 768px){
	.hero{
		height: 450px;
	}
	.myartist h1{
		font-size: 38px;
		padding:0px 80px 0px 90px;
		margin-top:20%;
	}

	/*eten*/
	.container{
		width: 90%;
		height:680px;
		padding:2px 3px;
		margin-left: 1.2rem;
	}
	.container .textbox{
		width: 100%;
		margin-left: 5px;
		padding:20px 50px;
	}
	.container img{
		display: none;
	}
	
	/*yeng yeng*/
	.container2{
		width: 90%;
		height:750px;
		margin-left: 1.2rem;
	}
	.container2 .yeng{
		width: 100%;
		margin-left: 5px;
		padding:20px 50px;
	}
	
	.container2 img{
		display: none;
	}
	
	/*ray*/
	.container3{
		width: 90%;
		height:680px;
		padding:2px 3px;
		margin-left: 1.2rem;
	}
	.container3 .ray{
		width: 100%;
		margin-left: 5px;
		padding:20px 50px;
	}
	.container3 img{
		display: none;
	}
	
	
	/*gao*/
	.container4{
		width: 90%;
		height:750px;
		margin-left: 1.2rem;
	}
	.container4 .gao{
		width: 100%;
		margin-left: 5px;
		padding:20px 50px;
	}
	.container4 img{
		display: none;
	}
	
}

/*footer*/
footer {
	background-color: darkred;
	
}

footer .logo {
	margin: 0rem 2.10rem;
	margin-top: 2rem;
	left: 5%;
	z-index: 10;
	position: relative;
}

.footer-flex {
	padding: 1rem;
	padding-left: 8%;
	padding-right: 8%;
	display: flex;
	flex-direction: row;
	gap: 3rem;
	color: white;
	font-family: "Poppins";
}

.footer {
	width: 33%;
}

footer h3 {
	text-decoration: none;
	margin-bottom: 12px;
}
.footer p{
	font-size:12px;
	margin-bottom: 16px;
}

@media only screen and (max-width: 768px) {
	.footer-flex {
		flex-direction: column;
	}

	.footer {
		width: 100%;
	}
}

.socials {
	display: flex;
	flex-direction: row;
	gap: 5px;
	padding: 5px;
}

.socials div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: grey;
	width: 30px;
	height: 30px;
	border-radius: 5px;
}

.quick-links ul {
	list-style-type: none;
	cursor: pointer;
	font-size:14px;
}
.quick-links ul a{
	text-decoration: none;
	color:#fff;
}
.quick-links ul a:visited{
	color:#f7cd77;
}

.quick-links li {
	padding-top: 8px;
}

.contact-us-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.contact-us-item {
	display: flex;
	flex-direction: row;
	margin-top:15px;
	margin-bottom:8px;
	font-size:12px;
}
.contact-us-item i{
	margin-right: 15px;
	margin-top:2px;
	font-size:20px;
}
